* {
        box-sizing: border-box;
        margin: 10px;
        padding: 0px;
        
      }

h1,p{text-align: center;
      }

.container {
        display: flex;       
        background-color: white;
        padding: 10px;
        border-radius: 10px;
      }

      .box1 {
        border: 2px solid black;
        max-width: 200px;
        max-height: 100px;
        padding: 20px;
        background-color: rgb(2, 3, 52); 
        color: white;
        border-radius: 6px;
      }

      

      .box2 {
        border: 2px solid black;
        max-width: 200px;
        max-height: 100px;
        padding: 20px;
        background-color: blue; 
        border-radius: 6px;
      }

      .box3 {
        border: 2px solid black;
        max-width: 200px;
        max-height: 100px;
        padding: 20px;
        background-color:rgb(2, 3, 52); 
        color: white;
        border-radius: 6px;
      }

      .box {
        border: 1px solid blue;
        max-width: 400px;
        max-height: 350px;
        background-color: white;
        color: black;
        padding: 20px;
        margin-bottom: auto;
        border-radius: 6px;
      }
      .btn {
        border-radius: 6px;
        background-color: blue;
        color:aliceblue;
    
      }
      button:hover {
        color:aquamarine;
        }